.hero {
    position: relative;
    width: 100%; 
    height: auto;
}

nav {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2; /* Ensures nav is above the video */
    letter-spacing:0.6rem;
    font-size: 1rem;
}

nav a {
    color: white; 
    margin: 0 10px;
    text-decoration: none; 
    position: relative; 
    display: inline-block; 
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    bottom: 0;
    left: 50%;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease; 
}

nav a:hover::after {
    width: 100%; 
    left: 0; 
}


video {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 8em; 
    text-align: center;
    z-index: 1; 
    mix-blend-mode: exclusion; 

}
body {
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    background-color: black; /* Sets background color to black */
}
